* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.point {
  width: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.posts-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  align-items: center;
  grid-gap: 50px;
}
@media (max-width: 1050px) {
  .posts-row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .posts-row {
    grid-template-columns: repeat(1, 1fr);
  }
}

.users {
  transform: skew(356deg);
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(134, 182, 182, 0.4);
  border: 2px solid blue;
  position: relative;
  transition: 0.5s;
}
.users:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px cornflowerblue;
  background-color: rgb(188, 255, 255);
  border: none;
}
.users:hover .user_login {
  color: darkseagreen;
}
.users img {
  width: 100%;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.users .user_id {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0;
  left: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: blue;
}
.users .user_login {
  text-align: center;
  color: #fff;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(101, 0, 94) 3%, rgb(60, 132, 206) 38%, rgb(48, 238, 226) 68%, rgb(255, 25, 25) 98%);
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.wave {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  -webkit-animation: wave 10s -3s linear infinite;
          animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@-webkit-keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}